<launch>
<node name="velocity_publisher" pkg="ckpt2"
type="velocity_publisher" output="screen" />
<node name="velocity_sublisher" pkg="ckpt2"
type="velocity_subscriber" output="screen" />
<node name="rosserial_node" pkg="rosserial_python"
type="serial_node.py" output="screen">
<param name="port" value="/dev/ttyACM0" /> </node>
</launch>
